body{
	font-size:14px;
	font-weight:300;
	line-height:30px;
	font-family: 'Open Sans', sans-serif;
	background-color:#fff;
	
	margin-top:50px;
	color:#414141;
}

.bd{
	background-color: white;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style:none;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

img{
	max-width:100%;
}

h1, h2, h3, h4, h5, h6{
	font-weight:bold;
	text-rendering:optimizelegiblity;
	-webkit-font-smoothing:antialiased;
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

p{
	margin:0;
	padding:0;
	line-height:26px;
	font-size:14px;
	margin:8px 0;
	font-weight: 500;
}

h3{
	font-size:30px;
}

/*Color

Blue: #ffff37;
Body Color: #414141;
icon color: #a1a1a1;


*/


/*Top Navbar*/
.navbar-inverse {
  background-color: #555;
  border-color: transparent;
  padding:10px 0;
}

ul.navbar-nav li a{
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:400;
	color:white !important;
}

.is-sticky .main-menu{
	z-index:9999999 !important;
	position:absolute;
	background:#000;
}

.is-sticky .main-menu .navbar-inverse{
	background:#ffff37;
	transition:0.4s;
	padding:15px 0;
}

.is-sticky .main-menu ul.navbar-nav li a{
	color:#000 !important;
}

/*Top Navbar*/


/*Header*/
.carousel-caption {
  top: 35%;
}

.carousel-caption h1 {
  font-size: 30px;
  line-height: auto;
  text-transform: uppercase;
}


.sd1{
text-align: center; margin-top: 5px; text-transform: uppercase; color: #3f51b5;
}

.sd2{
	font-weight: 500;
}

.sd3{
	text-transform: uppercase; color: #3f51b5;
}







.embed-responsive-16 {
    padding-bottom: 67.25%;
}



			/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */





.slider-btn {
  margin-top: 21px;
}

.indicatior2{
	top:90% !important;
}

.btn.btn-learn {
  background: #ffff37 none repeat scroll 0 0;
  border-radius: 50px;
  color: #000;
  font-weight: 500;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

/*Header*/

/* About */
.site-padding{
	padding:70px 0;
}
 .btn.btn-read-54 {
    background: #ccc none repeat scroll 0 0;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 21px;
}
.btn.btn-read-more {
  background: #ffff37 none repeat scroll 0 0;
  border-radius: 50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 21px;
}

.about-text{
	margin-top:70px;
}

/* About */



/*Awards*/
#awards{
	background:#f5f5f5;
}

.award-win{
	background:#ffff37;
	padding:60px 10px;
	color:#fff;
	text-align:center;
	
}

.trophy i{
	font-size:50px;
	color:#fff;
}

.progress-bar-custom{
	margin-bottom:60px;
}

.progress-bar-custom h5{
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:15px;
}

.progress {
  background-color: #ebebeb;
  height: 29px;
  overflow: hidden;
  border:1px solid #c4c4c4;
}

.progress-bar {
  background-color: #ffff37;
  line-height: 27px;
}

/*Awards*/


/*Services*/
.title h3{
	text-align:center;
}

.title h3 span{
	color:#41bdb1;
}

.title{
	margin-bottom:50px;
}

#features{
	background:#f5fcfd;
}

.feature-icon i{
	font-size:50px;
	color:#a1a1a1;
}

.feature-text h4{
	font-size:16px;
	text-transform:uppercase;
}

.feature-text p{
	margin:5px 0;
}

.feature-text a{
	font-size:13px;
	color:#000;
	text-transform:uppercase;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
}

.single-feature{
	margin-bottom:30px;
}

/*Services*/


/*Featured Work*/
.featured-list{
	width:100%;
	margin:auto;
}

.featured-list #grid {
  width: 100%;
}

.featured-list #grid .thumb {
  float: left;
  height: auto;
  margin: 0;
  width: 25%;
}

.protfolio-padding{
	padding-top:70px;
}

.thumb {
  line-height: 0;
  overflow: hidden;
  position: relative;
}

.thumb a {
  display: inline-block;
  float: left;
  height: 100%;
  line-height: 0;
  text-decoration: none;
  width: 100%;
}

.thumb img, .thumb a img {
  display: block;
  position: relative;
  width: inherit;
}

.thumb-rollover{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	box-sizing:border-box;
	background:#ffff37;
	opacity:0.6;
	text-align:center;
	color:#000;
	display:none;
	transition:0.2s;
}

.project-title{
	text-align:center;
	margin:auto;
	width:auto;
	margin-top:30%;
	transition:0.2s;
}

.project-title h4{
	font-size:18px;
	line-height:30px;
	text-transform:uppercase;
}

.project-title h5{
	font-size:12px;
	text-transform:uppercase;
}

.thumb:hover .thumb-rollover{
	display:block;
	transition:0.2s;
}
/*Featured Work*/



/*Testimonials*/
.testimonials-padding{
	padding-bottom:70px;
}

#testimonials{
	background-color:#90A3B3;
	background:url(../img/testimonials-bg.jpg) 50% 0 repeat fixed;
	min-height:570px;
	color:#fff;
	text-rendering:optimizelegiblity;
	-webkit-font-smoothing:antialiased;
	padding:70px 0;
}

.text{
	background:#f4f4f4;
	text-align:left;
	padding:25px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.text p{
	color:#414141;
}

.profile-image{
	margin:0 auto;
	text-align:center;
	margin-top:30px;
}

.profile-image img{
	height:100px;
	width:100px;
	border-radius:500px;
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
	margin-bottom:10px;
}

.profile-image h4{
	font-size:18px;
	color:#ffff37;
	text-transform:uppercase;
	line-height:22px;
	font-weight:normal;
}

.profile-image p{
	font-size:14px;
	font-weight:normal;
	margin:0;
}


.carousel-indicators {
  top: 105%;
}

.carousel-indicators .active {
  background-color: rgb( 199, 199, 199 );
  height: 12px;
  margin: 0;
  width: 12px;
}

.carousel-indicators li {
 background-color: rgb( 199, 199, 199 );
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  width: 10px;
}

/*Testimonials*/



/*Blog*/
#blog{
	background:#f8fce3;
}

.single-blog img{
	margin-bottom:15px;
	  max-width:300px;
    max-height: 230px;
   
    height: auto;
}

.single-blog{
	margin-bottom:15px;
}

.single-blog a{
	text-decoration:none;
	color:#414141;
}

.read-more a{
	font-size:13px;
	font-weight:normal;
	text-transform:uppercase;
	color:#ffff37;
	font-family: 'Montserrat', sans-serif;
}

/*Blog*/

 .ppTexto{
 	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }

/*Footer*/
footer{
	background:#414141;
	padding:60px 0;
	color:#f8f8f8;
}

.single-footer h4{
	font-size:16px;
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:10px;
}

ul.projects li {
  display: inline-block;
  margin-bottom: 4px;
  width: 32%;
}

.copyright{
	background:#353535;
	padding:10px 0;
	color:#fff;
}

.footer-menu ul li{
	display:inline-block;
	padding-left:5px;
}

.footer-menu ul li a{
	font-size:14px;
	font-weight:normal;
	color:#aaaaaa;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}

.social ul li{
	display:inline-block;
	padding-left:5px;
}

.social ul li a i{
	height:35px;
	width:35px;
	background:#757575;
	text-align:center;
	color:#ffffff;
	line-height:35px;
	font-size:18px;
	border-radius:500px;
}

.footer-menu.pull-right {
  margin-top: 7px;
}

.social {
  margin-top: 4px;
}

.my-form {
  height: 45px;
  border-radius: 0px;
  background: #d4d4d4;
  color: #969696;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight:500;
}

.btn.btn-subscribe {
  background: #ffff37 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/*Footer*/



/*Pricing*/
.pricing{
	padding:70px 0;
}
		.panel.price,
		.panel.price>.panel-heading{
			border-radius:0px;
			 -moz-transition: all .3s ease;
			-o-transition:  all .3s ease;
			-webkit-transition:  all .3s ease;
		}
		.panel.price:hover{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2);
		}
		.panel.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
		}
		
				
		.panel.price>.panel-heading{
			box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
		}
			
		.price .list-group-item{
			border-bottom-:1px solid rgba(250,250,250, .5);
		}
		
		.panel.price .list-group-item:last-child {
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		.panel.price .list-group-item:first-child {
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
		
		.price .panel-footer {
			color: #fff;
			border-bottom:0px;
			background-color:  rgba(0,0,0, .1);
			box-shadow: 0px 3px 0px rgba(0,0,0, .3);
		}
		
		
		.panel.price .btn{
			box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
			border:0px;
		}
		
	/* green panel */
	
		
		.price.panel-green>.panel-heading {
			color: #fff;
			background-color: #07a7bb;
		}
		
			
		.price.panel-green>.panel-body {
			color: #fff;
			background-color: #ffff37;
		}
		
		
		.price.panel-green .list-group-item {
			color: #333;
			font-weight:600;
		}
		
		
		
		/* grey price */
		
	
		.price.panel-grey>.panel-heading {
			color: #fff;
			background-color: #6D6D6D;
		}
		
			
		.price.panel-grey>.panel-body {
			color: #fff;
			background-color: #808080;
		}
		
		
		.price.panel-grey .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
		}
		
		/* white price */
		
	
		.price.panel-white>.panel-heading {
			color: #333;
			background-color: #f9f9f9;
		}
		
		.panel.panel-white.price:hover>.panel-heading{
			box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
		}
			
		.price.panel-white>.panel-body {
			color: #fff;
			background-color: #dfdfdf;
		}
				
		.price.panel-white>.panel-body .lead{
			color:#666;
		}
		
		.price:hover.panel-white>.panel-body .lead{
			color:#333;
		}
		
		.price.panel-white .list-group-item {
			color: #333;
			background-color: rgba(50,50,50, .01);
			font-weight:600;
		}
		
		.btn.btn-lg.btn-block.btn-success {
		  background: #ffff37 none repeat scroll 0 0;
		  border: 1px solid #ffff37;
		  color: #fff;
		  font-size: 16px;
		  font-weight: 600;
		}
		
		.btn.btn-lg.btn-block.btn-primary {
			background: #6d6d6d none repeat scroll 0 0;
			border: 1px solid #6d6d6d;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
		}
		
/*Pricing*/




/*Blog*/
.blog-single{
	margin-top:50px;
	margin-bottom:70px;
	background-color: rgba(0,0,0,0);
}

.single-blog h3{
	font-size:28px;
	font-weight:bold;
	margin-bottom:20px;
	line-height:35px;
}

.single-blog{
	margin-bottom:40px;
}

.blog-info{
	padding:10px 5px;
	border:1px solid #e1e1e1;
	overflow:hidden;
}
.blog-info ul{
	float:left;
}
.blog-info ul li{
	display:inline-block;
	padding:0 10px;
	border-right:1px solid #e1e1e1;
}

.blog-info ul li a{
	font-size:12px;
	color:#414141;
	text-transform:none;
}


/* ===============================
15. Aside, sidebar
================================ */

aside{
	position:relative;
	margin-bottom:40px;
}

.sidebar-nav{
	float:left;
	width:100%;
}

.right-sidebar{
	border-left:1px solid #f5f5f5;
	padding:0 0 0 30px;
-webkit-box-shadow:inset 1px 0 0 0 rgba(0,0,0,.01);
box-shadow:inset 1px 0 0 0 rgba(0,0,0,.01);

}

.a{
	color: green;
}

.b{
	margin-top: 150px;
}

.card1{

	width: 22rem; position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card2{
	 border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px); height: 180px;
    width: 100%;
    display: block;
}

.card3{
	 -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card4{
	 margin-bottom: .75rem;
	 max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card5{
	p: 0;
    margin-bottom: 1rem;
    max-width: 29ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card6{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.card7{
	  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* card noticias*/
.cardn1{
margin-top: 80px;
}

.cardn2{
background-color: #f8f9fa!important;
max-width: 1140px;
width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cardn3{
background-color: #f8f9fa!important;  
  box-sizing: border-box;
}
.cardn4{
font-weight: 300!important;  
  text-align: center!important;
  margin-bottom: 1rem!important; 
     margin-top: 1rem!important;
}
.cardn5{
 margin-left: auto!important; 
    margin-right: auto!important;    
     margin-bottom: 1rem!important; 
        margin-top: 1rem!important;
            display: block!important;
                width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.cardn6{
display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;     box-sizing: border-box;
}
.cardn7{
margin-bottom: 1rem!important;
    display: flex!important;
        flex: 0 0 25%;
    max-width: 25%;
}
.cardn8{
flex: 1 1 auto!important;    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.cardn9{
    color: #f8f9fa!important;
    border-radius: .25rem!important;
    background-color: #1ABC9C!important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cardn10{
flex: 1 1 auto;
    padding: 1.25rem;
}

.cardn11{
width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px); max-width: 100%;
    height: auto; vertical-align: middle;
    border-style: none;
}
.cardn12{
	margin-bottom: .5rem!important;margin-top: .5rem!important;
}

.cardn13{
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px); padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125); box-sizing: border-box;
}

.cardn14{
	background-color: transparent; color: #2094ae; 
    border: 1px solid #2094ae;  
}

.cardn15{
	position: absolute;
    top: 14%;
    left: 18%;
    background: green;
    padding: 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}


/* fim card noticias*/

.pTexto{
    width:100%;
  height:150px;
  background-color:#F2F2F2;
  overflow:auto;
}

.eventoDetalhe{
border-top: 1px solid; border-bottom: 1px solid; border-color:#ddd;
}
.eventoDetalhe1{
	margin-top: 5px; margin-bottom: 5px;
}
.eventoDetalhe2{
	color: #337ab7; font-size: 15px; font-weight: 500;
}

.fontTexto1{
	font-weight: 500;
	margin-top: 15px;
}

.class1{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
       background-color: rgba(0,0,0,.075)
}



.class2{
	webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
        margin-top: 20px;
        margin-left: 15%;
}

.class3{
	display: inline-block;
    width: 100%;     -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.class4{
	width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 3px;
    line-height: 80px;
    font-size: 28px;
    text-align: center;
    float: left;
    margin-right: 15px;
    color: #fff;
}

.class5{

	box-sizing: border-box;
}

.class6{
	padding-bottom: 0;
    padding-top: 25px;
}

.class7{
	 font-size: 10px;
    letter-spacing: 1px;
    color: #868e96;
}

.class8{
	 font-size: 20px;
}


.left-sidebar{
	border-right:1px solid #f5f5f5;
	padding:0 30px 0 0;
-webkit-box-shadow:inset 1px 0 0 0 rgba(0,0,0,.01);
box-shadow:inset 1px 0 0 0 rgba(0,0,0,.01);
}


.left-sidebar .widget h3, .left-sidebar .widget .widget-content{
	padding-right:20px;
}



aside .widget {
	margin-bottom:40px;
	border: 1px solid rgba(0,0,0,.125);
}


ul.cat, ul.recent, ul.folio-detail, ul.contact-info{
	margin:0;
	padding:0;
	list-style:none;
}

ul.cat li, ul.recent li, ul.folio-detail li, ul.contact-info li {
  list-style: outside none none;
  margin: 0 0 8px;
}

ul.cat li a, ul.folio-detail li a{
	
      
    width: 93%;
    margin-left: 8px;
   	font-size: 14px;
   	border-radius: 50px;
}

ul.folio-detail li label{
	display:inline;
	cursor:default;
	color:#353535;
	font-weight:bold;
}

.widget ul.recent li {
	margin-bottom:20px;
}

ul.recent li h6 {
	margin:0 0 10px 0;
}

ul.recent li h6 a{
	color:#353535;
	font-size:16px;
	font-weight:600;
}


.widget ul.tags {
	list-style:none;
	margin:0;
	margin-left: 0;
	padding-left:0;
}

.widget ul.tags li {
	margin:0 5px 15px 0;
	display:inline-block;
}


.widget ul.tags li a {
	background:#e6e6e6;
	color:#333;
	padding:5px 10px;
}

.widget ul.tags li a:hover {
	text-decoration:none;
	color:#fff;
}

aside .widgetheading {
	position: relative;
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 9px;
}

ul.cat, ul.recent, ul.folio-detail, ul.contact-info {
  list-style: outside none none;
  margin: 15px 0 0;
  padding: 0;
}


.blog-thumb-image {
  margin-right: 15px;
}

aside .widgetheading {
  border-bottom: 1px solid #4ad1e5;
  margin-bottom: 17px;
  padding-bottom: 9px;
  position: relative;
      background-color: #eee;
}

.widget ul.tags li a:hover {
  background: #ffff37 none repeat scroll 0 0;
  color: #ffffff;
  padding: 5px 10px;
}

/*Blog*/


/* --- pagination --- */

#pagination a,
#pagination span {
    display: block;
    float: left;
    margin: 0 7px 0 0;
    padding: 7px 10px 6px 10px;
    font-size: 12px;
    line-height:12px;
    color: #888;
	font-weight:600;
}

#pagination a:hover {
    color: #fff;
	text-decoration:none;
}

#pagination span.current {
    background: #333;
    color: #fff;
    font-weight: bold;
}

#pagination a:hover{
  color: #fff;
  background:#ffff37;
}



/*============================
 Forms
============================= */

/* --- contact form  ---- */
form#contactform input[type="text"] {
  width: 100%;
  border: 1px solid #c6c6c6;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom:20px;
  border-radius: 50px;
}

form#contactform textarea {
border: 1px solid #c6c6c6;
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

form#contactform .validation {
	font-size:11px;
}

#sendmessage {
	border:1px solid #e6e6e6;
	background:#f6f6f6;
	display:none;
	text-align:center;
	padding:15px 12px 15px 65px;
	margin:10px 0;
	font-weight:600;
	margin-bottom:30px;

}

#sendmessage.show,.show  {
	display:block;
}

/* --- comment form ---- */
form#commentform input[type="text"] {
  width: 100%;
  min-height: 40px;
  padding-left:20px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;

}

form#commentform textarea {
  width: 100%;
  padding-left:20px;
  padding-top:10px;
  font-size:13px;
  padding-right:20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	-webkit-border-radius: 2px 2px 2px 2px;
		-moz-border-radius: 2px 2px 2px 2px;
			border-radius: 2px 2px 2px 2px;
}

.contact h4{
	margin-bottom:20px;
}

.contact{
	padding-bottom:70px;
}

.btn.btn-theme.margintop10 {
  background: #eeee44;
  color:#0d0c0c;
}


/* --- search form --- */
.search{
	float:right;
	margin:35px 0 0;
	padding-bottom:0;
}

#inner-headline form.input-append {
	margin:0;
	padding:0;
}

/* --- Map --- */

.map-responsive{
    overflow:hidden;
    padding-bottom:90%;
    position:relative;
    height:0;
     border-radius: 10px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
	


.map{
	position:relative;
	margin-top:50px;
	margin-bottom:40px;
	width: 700px;

}

.map iframe{
	width:100%;
	height:450px;
	border:none;
}

.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:0 0 -5px 0;
	padding:0;
}



/*FAQ*/
#faq{
	padding:70px 0;
	background:#ddd;
}

.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
	
	h4.panel-title{
		font-weight:normal;
		font-size:15px;
		font-family: 'Open Sans', sans-serif;
	}
	
	.panel {
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-radius: 0px;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	  margin-bottom: 20px;
	}
	
	.panel-default > .panel-heading {
	  background-color: #fff;
	  border-color: #ddd;
	  color: #414141;
	}
/*FAQ*/

.navbar-toggle {
  background-color: #028f39;
}

#contact-us{
	padding:70px 0;
	    background-color: #ddd;
}

.mapa{
	 position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 30%;
    -moz-border-radius: 10px; /* Firefox */  
    -webkit-border-radius: 15px; /* Safari, Chrome */
    overflow: hidden;
}




.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

  .card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
     background-image: url("../img/slider2.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btnx1{ border-radius: 50%; width:32px; height:32px; line-height:18px; 
 }

.textoanav{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #777;
}

.informativo1{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.informativo2{
	padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.informativo3{
	flex: 1 1 auto;
    padding: 1.25rem;
}

.informativo4{
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    width: 30%;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}



@media (max-width: 450px){
.card.hovercard{
	width: 100%
}
}

.card.hovercard .cardheader {
     background-image: url("../img/francisco.jpg");
    background-size: cover;
    height: 135px;
    background-position: 20% 34%;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
    font-weight: 500
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btnx1{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.estilizando1{
        border-bottom: 1px solid #e7e7e7;
}

.estelizando2{
        border-bottom: 1px solid #e7e7e7;
}
.estilizando3{
    color: #777;
}

ul.cat li.active {
        background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
    background-color: #f5f5f5;
}
	ul.navtop li.activenavtop {
        background-color: transparent;
    border-radius: 2px;
    background-color: #32c532;
}

.bd{
	border-bottom: 1px solid #e7e7e7;
}

.bd2{
font-weight: 300!important;  
  margin-bottom: 1rem!important; 
     margin-top: 1rem!important;
}

/* image thumbnail */
.thumb {
    display: block;
	width: 100%;
	margin: 0;
}

/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	max-width: 482px;
	max-height: 350px;
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title {
	/* Position & Box Model */
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	/* background */
	background: rgba(0,0,0,0.7);
	/* Width/Height */
	padding: .5em;
	width: 100%;
	/* Text color */
	color: #fff;
}

.featured-article .block-title h2 {
	margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}

.span1{
	font-size: 13px;
}

.textoP{
	margin-left: 10px;
}
.textoN{
color: #777; 
margin-left: 10px;
font-size: 14px;
}


.text2:hover{
	color: white;

}
.text3:hover{
	background-color: #4ad1e5;
	    border-right: 3px solid #333;
}

.text4{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.imgModal{
	max-width: 500px;
	max-height: 500px;
}